/*---------------------------------------------------
    
    MUSIC PLAYER #02 by glenthemes
    
    Initial release: 2018/10/30
    Rework date: 2022/02/03
    Last updated: 2022/02/16
    
    4/6/23 @pomesa edits for tumblr

    CREDITS:
    > play & pause icons: Phosphor Icons
    > music note icon: Ahmed Agrma
      behance.net/gallery/94660737/400-Free-Line-Icons
    
---------------------------------------------------*/

[glenplayer02]{
    display:flex;
    float: right;
    align-items:center;
    visibility:hidden;
    z-index:69;
}



[M02controls]{
    height:var(--MusicPlayer-Buttons-Size);
    cursor:pointer;
}

[M02play]{
    margin-left:calc(0px - (var(--MusicPlayer-Buttons-Size) * 0.1));
    padding-right:calc(var(--MusicPlayer-Buttons-Size) * 0.1);
}

[M02controls] svg {
    display:block;
    width:var(--MusicPlayer-Buttons-Size);
    height:var(--MusicPlayer-Buttons-Size);
}

[M02controls] svg path {
    fill:#0007ff;
}

[M02pause] {display:none;}

.qxdvl {display:block;}
.sxnvw {display:none;}

[glenplayer02] [song-name]{
    margin-left:5px;
    font-family: 'pixelthin';
                src: url('https://dl.dropboxusercontent.com/s/5rhx0odgk2ibhim/thin_pixel-7.ttf');
    letter-spacing:.5px;
    color:#ffffff;
}
